*, *::before, *::after {
  box-sizing: border-box;
} 

.POK
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  color: #333;
}

.yu li
{
  list-style: none;
}

.PK {
  background-color: #C67B5C ;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  top: 100;
  left: 0;
  outline: none;
  gap: 10px;
 
}



.PK a{
  color: white;
  text-decoration: none;
}




body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsla(18, 48%, 57%, 1);

  background: radial-gradient(circle, hsla(18, 48%, 57%, 1) 24%, hsla(0, 0%, 0%, 0.7) 49%, hsla(214, 42%, 34%, 1) 77%);

  background: -moz-radial-gradient(circle, hsla(18, 48%, 57%, 1) 24%, hsla(0, 0%, 0%, 0.7) 49%, hsla(214, 42%, 34%, 1) 77%);

  background: -webkit-radial-gradient(circle, hsla(18, 48%, 57%, 1) 24%, hsla(0, 0%, 0%, 0.7) 49%, hsla(214, 42%, 34%, 1) 77%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C67B5C", endColorstr="#000000", GradientType=1 )
}


.container {
  width: 800px;
  max-width: 80%;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
  color: #C67B5C;
  font-size: larger;
  font-family: 'Alegreya Sans', sans-serif;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: #32527b;
  border: 1px solid ;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  align-content: center;
  font-size: x-large;
  font-family: 'Indie Flower', cursive;
}

.btn:hover {
  border-color: black;
}





/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; */
}
